body {
  background: white;
  color: #333;
}

.bar {
  fill: hotpink;
}

.bar:nth-of-type(10n + 3) {
  fill: pink;
}

.bar:hover {
  fill: brown;
}

.axis, .label {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
