body {
  background: white;
  color: #333;
  font-family: Verdana, Arial, sans-serif;
}

nav {
  box-sizing: border-box;
  padding: 0 .5em;
  position: fixed;
  text-align: right;
  width: 100%;
}

nav a {
  padding: 0 .5em;
}

.bar {
  fill: hotpink;
}

.bar:nth-of-type(10n + 3) {
  fill: pink;
}

.bar:hover {
  fill: brown;
}

.axis, .label {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
